body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #e3cdba;
}

h1 {
    color: #a47767;
    font-size: 39pt;
}

.video-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.video-container iframe {
    width: 100%;
    height: 1066px; /* or any desired height */
    max-width: 600px; /* or the maximum width you'd like */
}

.meeting-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.meeting {
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
}

.contact-info {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
}

.instagram-video {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
